.explore-btn {
  color: white !important;
  background-color: black !important;
}

.explore-btn:hover {
  color: white !important;
  background-color: #e84118 !important;
}

.home-card-link {
  color: #e84118 !important;
}
