.lucifer-logo {
  color: #e84118 !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.myLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.mat-balck-btn {
  text-transform: uppercase;
  color: white !important;
  background-color: #28282b !important;
  transition: all 0.5s ease-in-out;
}

.mat-balck-btn:hover {
  background-color: #e84118 !important;
  color: #28282b !important;
  border: 1px solid #28282b !important;
}
