.lucifer-logo{
    color: #e84118 !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.myLoader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}